# Week-4 
### STRUCTURED PROGRAMMING USING PYTHON
**By:
<br>Thejaswin.S
<br>RA1911026010029
<br>cse-aiml -K1**

**1.
Aditya is the Strategist of the company. He just gives the skeleton of the process ideas and his
team will have to implement it wherever applicable. One such idea is to give bonus of 10% for all
along with hike based on the performance index. Create an interface and implement salary
calculation method for Employees**

In [14]:
class Employee_0029:
     def cal_salary(self):
        student_detail_0029=["","","","",""]
        a_0029=0
        n=int(input("Enter the no. of employess: "))
        for i_0029 in range(n):
            id_0029= input('Enter the ID number : ')
            name_0029= input('Enter the name of Employee : ')
            dept_0029= input('Department of the Employee : ')
            salary_0029=int(input('Enter the salary of employee : Rs '))
            rating_0029=int(input('Enter the performance of the employee between 1 to 10 : '))
            if rating_0029>5:
                salary_0029+=salary_0029/10
                remark_0029='Keep up the good work'
            else:
                remark_0029='Expecting more'
                
            student_details_0029={'':'', 'Id Number : ':id_0029, 'Name : ':name_0029, 'Department : ':dept_0029,
                              'Salary of the employee : ':salary_0029, 'Remark : ':remark_0029, '':''}
            student_detail_0029[a_0029]=student_details_0029
            a_0029+=1
        
        for l_0029 in range(n):
            for x_0029,y_0029 in student_detail_0029[l_0029].items():
                 print(x_0029,y_0029)
obj_0029=Employee_0029()
obj_0029.cal_salary()

Enter the no. of employess: 1
Enter the ID number : 133
Enter the name of Employee : theja
Department of the Employee : cse
Enter the salary of employee : Rs 122000
Enter the performance of the employee between 1 to 10 : 6

Id Number :  133
Name :  theja
Department :  cse
Salary of the employee :  134200.0
Remark :  Keep up the good work

**2.
Write a function pyramid that gets the number of lines as argument and prints the below pyramid**

In [18]:
number0029 = int(input("Enter a number : "))
for i0029 in range(1,number0029 + 1):
    for k0029 in range(0,number0029 - i0029):
        print(end ="  ")
    for l0029 in range(i0029,1,-1):
        print(l0029,end =" ")
    for j0029 in range(1,i0029+1):
        print(j0029,end =" ")
    print(" ")

Enter a number : 8
              1
            2 1 2
          3 2 1 2 3
        4 3 2 1 2 3 4
      5 4 3 2 1 2 3 4 5
    6 5 4 3 2 1 2 3 4 5 6
  7 6 5 4 3 2 1 2 3 4 5 6 7
8 7 6 5 4 3 2 1 2 3 4 5 6 7 8

****

**3.Check if parantheses (),{} or [] in an expression is balanced.**

In [21]:
Stack0029=[]
word0029 = str(input())
for letter0029 in word0029 :
    if(letter0029 =="(" or letter0029=="[" or letter0029=="{"):
        Stack0029.append(letter0029)
    elif((letter0029==")" or letter0029=="]" or letter0029=="}") and Stack0029==[]):
        Stack0029.append(letter0029)
        #break
    elif(Stack0029[-1]=="("):
        if(letter0029==")"):
            Stack0029.pop()
    elif(Stack0029[-1]=="{"):
        if(letter0029=="}"):
            Stack0029.pop()
    elif(Stack0029[-1]=="["):
        if(letter0029=="]"):
            Stack0029.pop()
if(Stack0029==[]):
    print("Balanced")
else:
    print("Unbalanced")

{[]{()}}
Balanced

**4.Write a python program to count number of objects in a class**

In [20]:
class Person:
    count = 0
    def __init__(self, name, age):
        self.name = name
        self.age = age
        Person.count += 1
        print('The age of ' + name + ' is ' + str(age))

student1 = Person('xyz', 19)
student2 = Person('lmn', 22)
student3 = Person('pqr', 18)
student4 = Person('abc', 15)
student5 = Person('mno', 21)
print('\nThe number of objects of the class person is: ' + str(Person.count))

The age of xyz is 19
The age of lmn is 22
The age of pqr is 18
The age of abc is 15
The age of mno is 21

The number of objects of the class person is: 5

**5.Create a Vehicle class with max_speed and mileage instance attributes.**

In [4]:
class Vehicle0029:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        print('The max speed is: ' + str(max_speed) + ' km/h')
        print('The mileage is: ' + str(mileage) + ' kmpl')
vehicle_0029 =Vehicle0029(338.8, 32.26)

The max speed is: 338.8 km/h
The mileage is: 32.26 kmpl

**6.Create child class Bus that will inherit all of the variables and methods of the Vehicle class.**

In [5]:
class Vehicle0029:
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
        print('The max speed is: ' + str(max_speed) + ' km/h')
        print('The mileage is: ' + str(mileage) + ' kmpl')

class Bus0029(Vehicle0029):
    pass
bus0029 = Bus0029(338.8, 32.26)

The max speed is: 338.8 km/h
The mileage is: 32.26 kmpl

**7.Find whether the student is eligible for the current year placement from the inputs studentname, CGPA, gender (M/F), number of backlogs. Implement the above by using object oriented programming concept.**

In [7]:
class Student0029:
    def __init__(self, name, cgpa, gender, backlogs):
        self.name = name
        self.cgpa = cgpa
        self.gender = gender
        self.backlogs = backlogs

    def eligible0029(self):
        if self.cgpa > 7 and self.backlogs < 2:
            print(self.name + " is eligible for placements!")
        else:
            print(self.name + " isn't eligible Sorry!")

n0029 = input("Enter student name: ")
cgpa0029 = int(input("Enter cgpa: "))
gen0029 = input("Enter gender: ")
backlog0029 = int(input("Enter total number of backlogs: ")) 
st = Student0029(n0029,cgpa0029,gen0029,backlog0029)
st.eligible0029()

Enter student name: thej
Enter cgpa: 9
Enter gender: M
Enter total number of backlogs: 1
thej is eligible for placements!

**8.Using constructor, find the total EB bill to be paid. Rule slab is given
below.
<br>Units 0-100 - Rs.0
<br>Units 101-200 - Rs.1.00
<br>Units 201-300 - Rs. 2.00
<br>Units 301 - more - Rs. 3.00 
<br>Input:
<br>Previous reading: 5897
<br>Current reading: 6121
<br>Output:
<br>Bill amount: 148**

In [26]:
class EBbill0029:
    def __init__(self, prev, curr):
        diff = curr-prev
        cost = 0
        if diff <= 100:
            pass
        elif diff <= 200:
            cost = diff-100
        elif diff <= 300:
            cost = 100 + (diff-200)*2
        else:
            cost = 300 + (diff-300)*3
        print("Bill amount: " + "Rs" + str(cost))

pre0029 = int(input("Enter previous reading: "))
cur0029 = int(input("Enter current reading: "))
eb0029 = EBbill0029(pre0029,cur0029)

Enter previous reading: 5897
Enter current reading: 6121
Bill amount: Rs148

**9.A list on a single line containing the cubes of the first N Fibonacci numbers using lambda function. Sample
Input 5 Sample output [0, 1, 1, 8, 27]**

In [28]:
num_0029=int(input())
a_0029=[]
cube_0029=lambda x_0029 : x_0029*x_0029*x_0029
for i_0029 in range(num_0029):
    if i_0029<=1:
        a_0029.append(i_0029)
    else:
        f_0029=a_0029[i_0029-2]+a_0029[i_0029-1]
        a_0029.append(f_0029)

print(list(map(cube_0029,a_0029)))

8
[0, 1, 1, 8, 27, 125, 512, 2197]

**10.Use map and lambda function to display Fahrenheit C = [39.2, 36.5, 37.3, 38, 37.8]**

In [32]:
C_0029 = [39.2, 36.5, 37.3, 38, 37.8]
F_0029 = list(map(lambda x_0029: (float(9)/5)*x_0029 + 32, C_0029))
print([round(x,2) for x in F_0029])

[102.56, 97.7, 99.14, 100.4, 100.04]